@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    font-family: poppins;

}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    .search-box{
        border-radius: 20px;
        padding: 1rem;
        border: none;
        font-size: 1.5rem;
        color: rgb(68, 68, 68);
    }
    .search-button{
        width: 4rem;
        height: 4rem;
        border-radius: 100px;
        padding: 1rem;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
        filter: invert(1);
        }
    }
    
}

.player-cont{
    display: flex;
    justify-content: center;
    .name{
        margin-top: 2rem;
        text-align: center;
    }
    .art-name{
        color: rgb(179, 179, 179);
        text-align: center;
    }
    .player{
        margin-top: 2rem;
        width: 40vw;
        filter:invert(1);
    }
}

.icon-container {
    width: 30px; 
    height: 30px; 
    background-color: #050505;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon {
    width: 15px; 
    height: 15px; 
    color: white;
  }
  
  